@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    border: none;
}
html {
    height: 100vh;
    width: 100vw;
}
body {
    background: black url(../imagens/wallpaperflare.com_wallpaper\ \(3\).jpg);
    background-size: cover;
}
main {
    width: 620px;
    height: 295px;
    margin: auto;
    margin-top: 250px;
    /* border: 1px solid black;  Apenas para usar como referência */
}
.container {
    display: flex;
    flex-direction: row;
}
img {
    height: 295px;
    width: 500px;
    border-radius: 20px;
}
span {
    width: 250px;
}
fieldset {
    background-color: #121D31;
    width: 400px;
    height: 265px;
    padding: 15px;
    border-radius: 0px 20px 20px 0px;
    /* border: 1px solid black; */
    /* box-shadow: inset 1px 1px 15px black; */
}
fieldset > h1, p {
    color: white;
    text-align: center;
}
.login-user {
    width: 285px;
    margin: 5px auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
}
.login-user input {
    padding: 6px;
    width: 260px;
    height: 20px;
}
.login-password {
    width: 285px;
    margin: 5px auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
}
.login-password input {
    width: 260px;
    padding: 6px;
    height: 20px;
}
.campo-enviar {
    width: 220px;
    padding: 15px;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px black;
}
.campo-enviar:hover {
    background-color: #04070c;
    transition: 0.5s;
}
.botao-enviar {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.campo-esqueciasenha {
    height: 25px;
    width: 220px;
    padding: 15px;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px black;
}
.campo-esqueciasenha:hover {
    background-color: #04070c;
    transition: 0.5s;
}
.botao-esqueciasenha {
    text-align: center;
    color: white;
    text-decoration: none;
}
