@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    /* border: none;
    border-style: none; */
}
main {
    border: 1px solid black;
    width: 800px;
    margin: auto;
}
img {
    width: 300px;
    height: 250px;
    border-radius: 15px;
}
fieldset {
    width: 490px;
    border-radius: 15px;
    margin: auto;
}
.container {
    display: inline-block;
}
.login-user {
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    background-color: grey;
}
.login-user input {
    border-radius: 5px;
    padding: 6px;
    height: 20px;
}
.login-password {
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    background-color: grey;
}
.login-password input {
    border-radius: 5px;
    padding: 6px;
    height: 20px;
}
